@charset "utf-8";
/* CSS Document */
		body,div,footer,header{
			box-sizing: border-box;
		}
		.main{
			position: relative;
			margin: 0px auto;
		}
		.hedaer{
			position: relative;
			float: left;
		}
		.hedaer img{
			width: 100%;
		}
		.row1{
			position: relative;
			margin: 0px auto;
		}
		.crs
		{
			background: green;
			position: relative;
			float: left;
			height: 150px;
		}
		.row2{
			position: relative;
			margin: 0px auto;
		}
		.notification
		{
			background: pink;
			position: relative;
			float: left;
			height: 150px;
		}
		.news{
			background: #8014C8;
			position: relative;
			float: left;
			height: 150px;
		}
		.pic{
			position: relative;
			float: left;
			height: auto;
		}
		.pic img{
			width: 100%;
		}
		.footer{
			background: #5E9C7C;
			position: relative;
			float: left;
			height: 50px;
			text-align: center;
		}
		@media all and (max-width:599px){
			.hedaer{width: 100%;}
			.row1{width: 100%;}
			.crs{width: 100%;}
			.notification{width: 100%;}
			.row2{width: 100%;}
			.news{width: 100%;}
			.pic{width: 100%;}
			.footer{width: 100%;}
		}
		@media all and (min-width:600px) and (max-width:979px){
			.hedaer{width:100%;}
			.row1{width:100%;}
			.crs{width:33.3333333%;}
			.row2{width:100%;}
			.notification{width:100%;}
			.news{width:100%;}
			.pic{width:100%;}
			.footer{width:100%;}
		}
		@media all and (min-width:980px) and (max-width:1199px){
			.hedaer{width:980px;}
			.row1{width:100%;}
			.crs{width:33.3333333%;}
			.row2{width:100%;}
			.notification{width: 50%;}
			.news{width: 50%;}
			.pic{width:100%;}
			.footer{width:100%;}
		}
		@media all and (min-width:1200px){
			.hedaer{width:1200px;}
			.row1{width:100%;}
			.crs{width:33.3333333%;}
			.row2{width:100%;}
			.notification{width: 50%;}
			.news{width: 50%;}
			.pic{width:100%;}
			.footer{width:100%;}
		}

