@charset "utf-8";
/* CSS Document */
		body, div{
			box-sizing: border-box;
		}
		.main{
			position: relative;
			margin: 0px auto;
		}
		.hedaer{
			position: relative;
			float: left;
			background: url("../CSS/Image/nature.jpg") no-repeat center center;
			height: 200px;
		}
		.crs1
		{
			position: relative;
			float: left;
			height: 150px;
		}
		.crs2s
		{
			position: relative;
			float: left;
			height: 150px;
		}
		.crs3
		{
			position: relative;
			float: left;
			height: 150px;
		}
		.notification{
			position: relative;
			float: left;
			height: 150px;
		}
		.news{
			position: relative;
			float: left;
			height: 150px;
		}
		.pic{
			position: relative;
			float: left;
			background: url("../CSS/Image/IT.png") no-repeat center center ;
			height: 300px;
		}
		.footer{
			position: relative;
			float: left;
			height: 100px;
			text-align: center;
			padding: 40px;
		}
		@media all  and (max-width:599px){
			.main{
				width: 100%;
			}
			.hedear{
				width: 100%;
			}
			.crs1{
				width: 100%;
			}
			.crs2{
				width: 100%;
			}
			.crs3{
				width: 100%;
			}
			.notification{
				width: 100%;
			}
			.news{
				width: 100%;
			}
			.pic{
				width: 100%;
			}
			.footer{
				width: 100%;
			}
}
		@media all  and (min-width:600px) and (max-width:979px){
			.main{
				width: 100%;
			}
			.hedear{
				width: 100%;
			}
			.crs1{
				width: 33.333333%;
			}
			.crs2{
				width: 33.3333333%;
			}
			.crs3{
				width: 33.3333333%;
			}
			.notification{
				width: 100%;
			}
			.pic{
				width: 100%;
			}
			.footer{
				width: 100%;
			}
}
		@media all  and (min-width:980px) and (max-width:1199px){
			.main{
				width: 980px;
			}
			.hedear{
				width: 100%;
			}
			.crs1{
				width: 33.333333%;
			}
			.crs2{
				width: 33.3333333%;
			}
			.crs3{
				width: 33.3333333%;
			}
			.notification{
				width: 50%;
			}
			.news{
				width: 50%;
			}
			.pic{
				width: 100%;
			}
			.footer{
				width: 100%;
			}
}
		@media all  and (min-width:1200px)
		{
			.main{
				width: 1200px;
			}
			.hedear{
				width: 100%;
			}
			.crs1{
				width: 33.333333%;
			}
			.crs2{
				width: 33.3333333%;
			}
			.crs3{
				width: 33.3333333%;
			}
			.notification{
				width: 50%;
			}
			.pic{
				width: 50%;
			}
			.footer{
				width: 100%;
			}
}

