body{
			margin: 0%;
			padding: 0%;
			font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
			font-size: 17; 
		}
			* {
			  box-sizing: border-box;
			}	
		.main{
			margin-top: 1%;
			float: left;
			position: relative;
			margin-left: auto;
			margin-right: auto;
			padding-left: 0% !important;
			padding-right: 0% !important;
		}
		
		.nav1 {
			width: 25%;
			position: relative;
			float: left;
			font-size: 25;
			text-align: right;
			margin-left: 5%;
			
		}
		.nav2 {
			width: 40%;
			position: relative;
			float: left;
			text-align: center;
		}
		.navbar ul{
			list-style: none;
			padding: 0%;
			margin: 0%;
		}
		.menu>li{
			display: inline-block;
		}
		.nav2 a{
			margin-top: 5%;
			text-decoration: none;
			color: black;
			display: inline-block;
			width: 90px;
			padding: 6% 0%;
			text-align: center;
		}
		.nav2 li:hover>a{
			background:rgba(231,223,223,1.00);		}
	
		.nav3 {
			text-decoration: none;
			text-align: center;
			padding: 2% 0%;
			color:#FFFFFF;
			background-color:rgba(19,146,38,1.00);
			width: 10%;
			float: left;
			position: relative;
			margin-right: 15%;
		}
		.footerdiv {
			position: relative;
			padding-top: 20px;
			margin-left: 10% !important;
			width: 70% !important;
			float: left;
			text-align: left;
		}
		.footerdiv  a {
			color: #878181;
			text-align: center;
			padding: 14px 14px;
			text-decoration: none;
			font-size: 17px;
		}
		.icon{
			float: right; 
			padding-top:15px; 
			margin-right: 10%;
		}
		.content{
			position: relative;
			float: left;
			height: 800px;
			background: #EBE1E1;
		}
		.conta {
			padding-top: 15px;
			padding-left: 7% !important;
			padding-right: 7% !important;
			padding-bottom: 20px;
			background-color: white;
			width: 50% !important;
			margin: auto;
		}
		.regform{
			background: green;
			text-align: center;
			padding: 10px;
			margin: 0px;
			color: white;
			margin-left: auto;
			margin-right: auto;
			width: 50% !important;
			
		}
		.registersend {
			background-color: #4CAF50;
			color: white;
			padding: 12px 18px;
			opacity: 0.9;
			border: none;
		}
		.signin{
			text-align: center;
			background-color:rgba(217,212,212,1.00);
			margin: auto;
			padding: 8px 80px;
			width: 50% !important;
		}


@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }